@import "tailwindcss";

@theme {
    --color-grey-15: #262625;
    --color-white-97: #f7f7f8;
    --color-white-95: #f1f1f3;
    --color-white-99: #fcfcfd;
    --color-orange-50: #ff9500;
    --color-orange-90: #ffeacc;
    --color-orange-70: #ffbf66;
    --color-orange-75: #ffca80;
    --color-orange-97: #fff9f0;
    --font-dmSans: "DM Sans", sans-serif;
}

@layer base {
    html {
    @apply scroll-smooth;
    }
    body {
    @apply font-dmSans text-grey-15 bg-white-97;
    }
}

@layer utilities {
    .container {
    @apply px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1130px] 2xl:max-w-[1380px];
    }
    button {
    @apply cursor-pointer block;
    }
    p {
    @apply text-sm md:text-base lg:text-lg leading-normal;
    }
    h1,
    h2,
    h3,
    h4 {
    @apply font-semibold text-balance leading-tight;
    }
    .section {
    @apply pt-20 lg:mt-32;
    }
    h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
    }
    h4 {
    @apply text-2xl lg:text-[22px];
    }
}